* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: absolute;
}
.hero {
  background-image: url(../images/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.sale {
  top: 10px;
  left: 10px;
}
.count {
  font-size: 10px;
  top: -5px;
  right: -8px;
  padding: 3px 5px;
  color: antiquewhite;
  background-color: brown;
}
.shopBtn {
  display: none;
  transition: all 0.3s linear;
}
.shopCard {
  /* transition: all 1s linear; */
}
.shopCard:hover .shopBtn {
  display: block;
}
